/* Fonts for all text */
@import url('https://fonts.googleapis.com/css?family=Handlee|Roboto&display=swap');

/* Universal Styling */
* {
  padding: 0;
  margin: 0 !important;
  box-sizing: border-box;
}

/* Navbar Component Styling */
.navbar {
  display: flex;
  background: #A64747;
  color: white;
  align-items: center;
  z-index: 5;
}

.title {
  flex-grow: 2;
  margin-left: 2rem !important;
  font-family: 'Handlee', cursive;
}

.signIn {
  margin-right: 2rem !important;
  font-family: 'Handlee', cursive;
}

.signIn:hover {
  cursor: pointer;
}

.sticky {
  position: sticky;
  top: 0;
}

.logo {
  height: auto;
  width: 3rem;
  margin-left: 2rem !important;
}

.navbar a {
  color: white;
}
/* Footer Styling */
.footer {
  display: flex;
  background: #A64747;
  color: white;
  font-family: 'Roboto', sans-serif;
  align-items: center;
}

.footer a {
  color: white;
}

.footerTitle {
  flex-grow: 2;
  margin-left: 2rem !important;
}

.footerLinks {
  margin-right: 2rem !important;
}

.footerLinks:hover {
  cursor: pointer;
}

/* Registration Styling */
.registration {
  display: flex;
  font-family: 'Roboto', sans-serif;
}
.signUpForm {
  background: #FFFEFA;
  font-size: .7rem;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.signUpImage {
  height: auto;
  width: 60%;
}

.formTitle {
  background: #FFFEFA;
  padding: 1rem 1rem 2rem 1rem;
  text-align: center;
}

.signUpForm input {
  background: #EFEFEF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border: none;
  padding:.3rem;
}

.signUpInputs {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-bottom: 1rem;
}

.signUpSubmit {
  border: none;
  margin-bottom: 1rem !important;
}

/* Home Page Styling */
.user-page {
  display: flex;
  flex-direction: column;
  width: 1440px;
}

.user-title {
  width: 300px;
  margin-left: 100px !important;
  height: auto;
  
}

.user-title h1{
  justify-content: flex-start;
  font-size: 40px;
}

.no-recipe {
  display: flex;
  width: auto;
  margin-top: 50px !important;
  margin-left: 200px !important;
  justify-content: flex-start;
  width: 100%;
  height: auto;
}

.no-recipe img {
  padding-right: 30px;
}

.no-recipe h1 {
  font-size: 40px;
}

.no-recipe h3 {
  font-size: 30px;
}

.create-recipe {
  width: 400px;
  height: auto;
  padding: 10px 0;
  margin-top: 20px !important;
  font-size: 30px;
  font-weight: bold;
  background: #6E0000;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
}

.top-content-image {
  width: auto;
  height: 600px;
  background-image: url("https://imgur.com/KQ9Ppn0.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}
.top-content-text {
  text-align: left;
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  color: white;
}
.top-content-text h1 {
  font-family: 'Handlee', cursive;
  font-size: 3rem;
}

.top-content-button {
  position: absolute;
  top: 60%;
  left: 15%;
}

.recipe-content-one {
  height: auto;
  padding: 30px 0;
}

.recipe-content-two {
  background: #FEF7EA;
  height: auto;
  padding: 30px 0;
}

.featured h1 {
  text-align: center;
  font-size: 40px;
}

.placeholder {
  width: 300px;
  height: auto;
  
}

.temp-cards {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 30px 0;
}

.temp-cards h3 {
  font-size: 30px;
}

.temp-cards-rotd {
  justify-content: center;
  margin: auto;
  width: auto;
}
.placeholder-rotd {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rotd-text {
  width: 40%;
  margin-left: 40px;
}

.rotd-text h3 {
  font-size: 40px;
}

.showcase h1 {
  padding-left: 50px;
}

/* Privacy Page Styling */
.privacy-page {
  background: #FFFEFA;
  padding: 3rem;
}

